.submit{
background-color: aliceblue;
margin-top: 2rem;
height: 40px;
color: black;
font-size: 1.1rem;
font-weight: 700;
border-color: rgb(43, 108, 248);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 2rem;
}
.buttonWrapper{
    display: flex;
align-items: center;
justify-content: center;
}
.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
justify-content: center;
background-image: linear-gradient(rgba(255, 255, 255, 0.596), rgb(255, 255, 255)),url('../../../../Assets/confirmBG.jpg')!important;
    
}
.list-group{
    margin-bottom: 3rem;
}