.submit{
background-color: aliceblue;
margin-top: 2rem;
height: 40px;
color: black;
font-size: 1.1rem;
font-weight: 700;
border-color: rgb(43, 108, 248);
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 2rem;
}
.buttonWrapper{
    display: flex;
align-items: center;
justify-content: center;
}
.confirm{
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;

background-image: linear-gradient(rgba(44, 43, 43, 0.596), rgb(20, 20, 20)),url('../../../../Assets/confirmBG.jpg')!important;
    
}
.confirmTitle{
    margin-top: 5rem;
}
.list-group{
    margin-bottom: 3rem;
}
.list-group-item{
    font-weight: 700;
    // font-size: 1rem;
    height: 2rem;
    border-radius:7px ;
}
.list-group{
    width: 60rem;
    text-align: center;
    @media screen and (max-width:520px) {
        width: 25rem;
    }
    
}
.top{
    height: 3rem;
    background-color: rgb(50, 50, 241);
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid blue;
    color: white;
}