.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  display: flex;
  position: relative;
  align-items: center;
  margin: auto;
}

.carousel-inner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.384);
  z-index: 9;
}

.images {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: kenburns 80s infinite;
}

@keyframes kenburns {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
    opacity: 0;
  }
}

.carousel-caption {
  z-index: 10;
  font-size: 4rem;
  position: absolute;
}

.carousel-caption h3 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
}

@media screen and (max-width: 550px) {
  .carousel-caption h3 {
    font-size: 2.5rem;
  }
}

.button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #617eff;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color .6s ease;
  overflow: hidden;
}

.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width .3s ease, height .3s ease;
}

.button:focus, .button:hover {
  background: #322efb;
  color: white;
}

.button:active:after {
  width: 300px;
  height: 300px;
}
