.FooterContainer{
    background-color: #101522;
    bottom: 0;
    position: relative;
}

.FooterWrap{
    padding: 8px 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.FooterLinksContainer{
    display: flex;
    justify-content: center;

    @media screen and (max-width: 820px) {
        padding-top: 32px;
    }
}



.FooterLinksWrapper{
    display: flex;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}

.FooterLinkItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    width: 160px;
    box-sizing: border-box;
    color: #fff;

    @media screen and (max-width: 420px) {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

.FooterLinkTitle{
    font-size: 14px;
    margin-bottom: 16px;
}

.FooterLink{
    text-decoration: none;
    margin-bottom: .5rem;
    font-size: 14px;
    color: #fff ;

    &:hover {
        color: #01bf71;
        transition: .3s ease-in-out;
    }
}

.SocialMedia{
    max-width: 1000px;
    width: 100%;
}

.SocialMediaWrap{
    display: flex;

    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto o auto;

    @media screen and (max-width: 820px) {
        flex-direction: column-reverse;
    }
}

.SocialLogo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
}

.WebsiteRights{
    color: #fff;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.SocialIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.SocialIconLink{
    color: #fff;
    font-size: 24px;
}