button {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 120px;
  margin: 0 1rem;
  height: 40px;
  color: white;
  border-radius: 8px;
  background-color: #1d68f5;
}

.button-wrapper {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
