.container-fluid {
  background-color: #021324;
  padding-bottom: 3rem;
}

.price-title {
  text-align: center;
  margin-bottom: 4rem;
}

.price-title h3 {
  padding-top: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0rem;
  color: rgba(255, 255, 255, 0.973) !important;
}

span {
  background: linear-gradient(to right, #165efa 0%, #bf2e46 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-transform: uppercase;
}

.row {
  flex-direction: row-reverse;
}

@media screen and (max-width: 850px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.card {
  position: relative;
  max-width: 900px;
  width: 450px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 850px) {
  .card {
    width: 350px;
    margin-bottom: 2rem;
  }
}

.col-sm-4 {
  margin-right: 10rem;
}

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price, .option {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.card .link {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .link:hover {
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
