.app__navbar {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  position: fixed;
  z-index: 100;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 180px;
  height: 100px;
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 100px;
    height: 60px;
  }
}

@media screen and (max-width: 820px) {
  .app__navbar-logo img {
    width: 150px;
    height: 100px;
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  flex-direction: column;
}

.app__navbar-links li div {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}

.app__navbar-links li a {
  color: var(--gray-color);
  text-decoration: none;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .3s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: .9rem;
}

.app__navbar-links li a:hover {
  color: #303efd;
}

.app__navbar-links li:hover div {
  background-color: #303efd;
}

@media screen and (max-width: 900px) {
  .app__navbar-links {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303efd;
}

.app__navbar-menu svg {
  width: 70%;
  height: 70%;
  color: wheat;
}

.app__navbar-menu div {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  z-index: 2;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  background-size: cover;
  background-repeat: repeat;
  box-shadow: 0 20px rgba(168, 168, 168, 0.15);
}

.app__navbar-menu div svg {
  width: 35px;
  height: 35px;
  color: #303efd;
  margin: .5rem 1rem;
}

.app__navbar-menu div .app__navbar-menu-links {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app__navbar-menu div .app__navbar-menu-links li {
  margin: 1rem;
}

.app__navbar-menu div .app__navbar-menu-links li a {
  color: rgba(34, 33, 33, 0.61);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.app__navbar-menu div .app__navbar-menu-links li a:hover {
  color: #303efd;
}

@media screen and (min-width: 900px) {
  .app__navbar-menu div {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .app__navbar-menu {
    display: none;
  }
}
