p{
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    color: rgb(70, 69, 69);
    font-weight: 600;
    line-height: 1.6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 35rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    @media screen and (max-width:900px) {
        width: 100% !important;
        }
        @media screen and (min-width:900px) and (max-width:1120px) {
            width: 25rem ;
            }
}
li{     
        list-style: none;
        padding-top: .5rem;
        position: relative;
        z-index: 1;
        color: rgb(70, 69, 69);
        font-weight: 600;
        line-height: 1.6;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
    padding-top: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800 !important;
    margin-bottom: 0rem;
    color:rgba(0, 0, 0, 0.781) ;  
}
.coursesTitle{
    padding: 2rem 7rem 2rem 7rem;
    text-align: center;
    @media screen and (max-width:550px) {
        padding: .5rem 1rem;
    }
    .course-title{
        padding-top: 2rem;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 0rem;
        color:rgba(0, 0, 0, 0.781) !important;  

        
    }

}
.courses-container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.774), rgb(255, 255, 255)),url('../../../../Assets/executive.jpeg')!important;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem 2rem ;
    @media screen and (max-width:550px) {
        padding: .5rem 0rem;
    }
}
.course-container{
    display:flex;
    flex-direction:flex-column;
    
}
.basic{
    display: flex;
    padding-top: 2rem;
    background-color: aliceblue;
    padding-bottom: 3rem;
    
    @media screen and (max-width:860px) {
        flex-direction: column;
        }
    p{
        padding-top: 1rem;
    }
}
.executive{
    display: flex;
    background-color: aliceblue;
    flex-direction: row-reverse;
    @media screen and (max-width:860px) {
        flex-direction: column;
        }
    p{
        padding-top: 1rem;
    }
    img{
        margin-top: 4rem;
    }
}
.course-detail{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: .5rem 4rem ;
    @media screen and (max-width:550px) {
        padding: .5rem 1rem;
        text-align: center;
    }
}
.ul{
    padding-left: 0 !important;
    
}
